{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de Actividades {{title}}</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}"/>
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Condensed:ital,wght@0,100;0,300;1,100&display=swap');
</style>
<body>
    <div class="container-fluid mt-5"> 
           
        <nav id="navbar">
            <ul class="nav">
                <a class="navbar-brand" href="#">
                    <img class="img-fluid" src="{%static 'core\logo_INF.png' %}" alt="Logo Departamento Informática" width="60" height="54" class="d-inline-block align-text-top">
                </a>
                <li class="nav-item">
                    <a class="nav-link" style="color: black" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: black" href="admin/">Administración</a>
                </li>
                {% if user.is_authenticated  %}
                <li class="nav-item">
                    <a class="btn btn-danger" href="/admin/logout/">Salir</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        
        
        {% load i18n %}
        <div class="row mb-5">
            
        
        {% if eventosPorSegmento %}
        {% for evento in eventosPorSegmento %}
            
            {% if forloop.counter <= 3 %}
                <div class="col-4">
                    <div class="card text-center">
                        <div class="card-header">
                            {% language 'es' %}
                            {{evento.fecha_inicio|date:"d"}}
                            <br>
                            {{evento.fecha_inicio|date:"F"}}
                            {% endlanguage %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{evento.Titulo}}</h5>
                            <p class="card-text">{{evento.Descripcion}}<br>{{evento.segmento.nombre}} </p>
                            
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        
        
        
        <form method="get" action="{% url 'home' %}">
          <div class="row">
              <div class="col-2"></div>
              <div class="col-3">
                  <select class="form-select" name="segmento" aria-label="Default select example">
                      <option selected>Segmento</option>
                      {% for segmento in segmentos %}
                          <option value="{{ segmento.nombre }}" {% if segmento_elegido == segmento.nombre %} selected {% endif %} >
                              {{ segmento.nombre }}
                          </option>
                      {% endfor %}
                  </select>
              </div>
              <div class="col-2"></div>
              <div class="col-3">
                  <select class="form-select" name="tipo" aria-label="Default select example">
                      <option selected>Tipo</option>
                      {% for tipo in tipos %}
                          <option value="{{ tipo.1 }}" {% if tipo_elegido == tipo.0 %} selected {% endif %} >
                              {{ tipo.1 }}
                          </option>
                      {% endfor %}
                  </select>
              </div>
              <div class="col-2">
                  <button type="submit" name="filtrar">Filtrar</button>
              </div>
          </div> <br>
            
            <div class="row"></div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="text-center border bg-light">
                        <h5>Actividades</h5>
                    </div>
                    
                    <table class="table table-bordered table-striped table-hover">              
                        <thead>
                            <tr>
                                <th scope="col">Hito</th>
                                <th scope="col">Fecha Inicio</th>
                                <th scope="col">Fecha Término</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Segmento</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for evento in eventos %}
                                <tr>
                                    <td>{{ evento.Titulo }}</td>
                                    <td>{{ evento.fecha_inicio }}</td>
                                    <td>{{ evento.fecha_termino }}</td>
                                    <td>
                                      {{ evento.get_Tipo_display }}
                                    </td>
                                    <td>
                                      {% for segmento in evento.Segmento.all %}
                                          {{ segmento.nombre }}
                                          {% if not forloop.last %}, {% endif %}
                                      {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row text-center border bg-light">
              <div class="col ">
                <h6>Desarrollado por Grupo 4</h6>
              </div>
            </div>
        </form>
    </div>
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
</body>
</html>